doctype html
head
  link(rel="stylesheet", href="/css/main.css")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0")
  link(type="text/plain" rel="author" href="/humans.txt")

  title &yetConf Textcapades

  script(src='//use.typekit.net/jly6amr.js')
  script.
    try{Typekit.load({async:true});}catch(e){};

body

  .public-header
    a(href='http://andyetconf.com/'): img.logo(src="/img/logo-lettering.svg")

  .content

    block body
